@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h5 {
  color: #1b31a8;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
}

.half {
  max-width: 80%;
  margin: auto;
}

.left{
    float: left;
    width: 50%;
}

.locationtag {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
}

.locationinput {
  border: 1px solid #dcddec;
  border-radius: 6px;
}

.add-stop {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  margin-left: 120px;
}

.calculate .btn{
    font-family: "IBM Plex Sans";
    font-weight: 600;
    background: #1B31A8;
    border-radius: 32px;
    color: white;
}