@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h5 {
  color: #1b31a8;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
}

.h4 {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  color: #1E2A32;
}

.half {
  max-width: 80%;
  margin: auto;
}

.left {
  float: left;
  width: 50%;
}

.lefttop{
  margin-bottom: 2rem;
}

.locationtag {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
}

.locationinput {
  border: 1px solid #dcddec;
  border-radius: 6px;
}

.add-stop {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  margin-left: 40%;
}

.calculate .btn {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  background: #1b31a8;
  border-radius: 32px;
  color: white;
}

.calculate {
  position: relative;
  top: 50%;
}

.jum-top{
  min-height: 5rem;
  background-color: white;
}

.jum-bottom{
  min-height: 5rem;
}

.jum-top-right {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: right;
  color: #0079ff;
}

.map{
  width: 85%;
  box-shadow: #1E2A32 0px 0px 10px;
}